<ion-header>
  <ion-navbar>
    <ion-title>
      Level 1
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <div id="level1-markdown1" class="show-list-numbers-and-dots">

    <p>
      <span id="words" #words *ngFor="let item of text">
        {{item}}
      </span>
    </p>


  </div>
  <button id="level1-button2" ion-button [color]="myColour"
          style="border-radius:10000px 10000px 10000px 10000px;"
          (click)="record()">
    <ion-icon name="mic"></ion-icon>
  </button>
  <ion-card>
    <ion-card-header>Accuracy</ion-card-header>
    <ion-card-content>{{score}}</ion-card-content>
  </ion-card>
  <ion-list>
    <button ion-item *ngFor="let word of undetected" (click)="readText(word)">
      <ion-icon name="mic"></ion-icon>
      {{"    "+word}}
    </button>
  </ion-list>
</ion-content>

